* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #070425;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* margin: 20px 0px; */
  background-color: #070425;
}

header .logo {
  height: 100px;
  width: 70px;
}

header nav {
  width: 70%;
}

ul {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 30px;
  padding: 15px 40px;
  border: 1px solid gray;
  border-radius: 30px;
}

.small-screen {
  display: none;
}

.hidden-nav {
  display: none;
}

@media (max-width: 762px) {
  .small-screen {
    display: block;
  }
  .hidden-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 20px;
    background-color: #070425;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  header {
    display: none;
  }

  .hidden-nav .logo {
    height: 100px;
    width: 70px;
  }

  .hidden-nav button {
    cursor: pointer;
  }
}

.contact {
  border: 1px solid gray;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.center {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin: 20px;
  padding-top: 100px;
}

.avatar-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.center .frank {
  font-family: monospace;
  font-size: 20px;
  margin: 15px;
}

.center h3 {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.center .experience {
  font-family: monospace;
  font-size: 15px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: monospace;
  margin: 20px;
}

.buttons .contact-me {
  background: linear-gradient(to right, #a581ce, #c4633d);
  padding: 10px;
  border-radius: 35px;
  width: 150px;
}

.buttons .resume {
  padding: 10px;
  border: 1px solid gray;
  width: 150px;
  border-radius: 35px;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
  padding-top: 100px;
}

.introduction h2 {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 20px;
}

.introduction .explanation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.introduction .explanation img {
  width: 250px;
  height: 100%;
  border-radius: 8px;
}

.introduction .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction .skills p {
  font-size: 15px;
  font-family: monospace;
}

.introduction .skills .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px;
}

.introduction .skills .cards h2 {
  font-size: 15px;
  margin: 10px;
  font-weight: 700;
  font-family: monospace;
}

.introduction .skills .cards .all-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid gray;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.introduction .skills .cards .all-cards .social-icons {
  font-size: 30px;
}

.introduction .skills .cards .all-cards p {
  color: gray;
  font-family: cursive;
}

.introduction .skills .tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction .skills .tools p {
  font-size: 15px;
  font-family: monospace;
  color: gray;
}

.introduction .skills .tools .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.introduction .skills .tools .list img {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid gray;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 30px;
  padding-top: 100px;
}

.services h2 {
  font-size: 35px;
  font-family: monospace;
  margin: 20px;
}

.services p {
  font-size: 15px;
  font-family: monospace;
}

.services .service-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.services .service-cards .service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 20px;
  width: 300px;
  height: 200px;
}

.services .service-cards .service-card .service-icons {
  font-size: 20px;
}

.services .service-cards .service-card h2 {
  font-size: 18px;
  font-weight: 800;
}

.services .service-cards .service-card .service-p {
  margin-bottom: 15px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
  padding-top: 100px;
}

.portfolio h2 {
  font-size: 35px;
  font-family: monospace;
  margin: 20px;
}

.portfolio p {
  font-size: 15px;
  font-family: monospace;
}

.portfolio .portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.portfolio .portfolio-cards .portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  height: 250px;
  width: 250px;
  margin-top: 25px;
}

.portfolio .portfolio-cards .portfolio-card .inside-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 200px;
  background-color: white;
  color: #070425;
  border-radius: 8px;
}

.portfolio .portfolio-cards .portfolio-card .inside-card .inside-icon {
  border: 1px solid #070425;
  border-radius: 50%;
  padding: 10px;
}

.portfolio .portfolio-cards .portfolio-card .inside-card p {
  font-size: 15px;
  color: grey;
}

.portfolio .portfolio-cards .portfolio-card .inside-card .inside-p {
  color: #070425;
  font-weight: 700;
}

.portfolio button {
  border: 0.5px solid gray;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
}

.frontend-project {
  background-image: url(https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.geo-based-app {
  background-image: url(https://images.pexels.com/photos/7568293/pexels-photo-7568293.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.photography-site {
  background-image: url(https://images.pexels.com/photos/33536486/pexels-photo-33536486.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ui {
  background-image: url(https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 100px;
  margin: 20px;
}

.connect h2 {
  font-size: 35px;
  font-family: monospace;
  margin: 20px;
}

.connect p {
  font-size: 15px;
  font-family: monospace;
  margin-bottom: 40px;
}

.connect .form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.connect .form .name-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.connect .form input {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e1c36;
  outline: none;
  width: 300px;
}

.connect .form .message {
  width: 100%;
}

.connect .form .input-message {
  width: 100%;
  height: 250px;
  padding-bottom: 200px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  background: #211f38;
}

.connect button {
  align-self: center;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 30px;
  width: 150px;
  font-family: monospace;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer img {
  width: 150px;
  height: 200px;
  margin-top: 20px;
}

footer .contact-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: monospace;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 20px;
}

footer .socials-footer p {
  font-family: monospace;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 20px;
  border: none;
  border-top: 0.5px solid white;
  padding-top: 20px;
}

footer .socials-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
